{{this.selectedDate}}

<div
  ...attributes
>
  {{#each this.dates as |date|}}
    <button
      {{on "click" (fn this.selectDate date)}}
      type="button"
    >
      {{date}}
    </button>
  {{/each}}
</div>


// eventListeners
// Curried Functions
// Decorators
